@import "tailwindcss";

body {
  @apply bg-[#171621] min-h-screen;
}
@font-face {
  font-family: 'Inter';
  src: url('public/fontes/Inter-VariableFont_opsz,wght.ttf') format('truetype-variations');
  font-weight: 100 900; 
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('public/fontes/Inter-Italic-VariableFont_opsz,wght.ttf');
  font-weight: 100 900; 
  font-display: swap;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}